1 VERSIONINFOFILEVERSION 1,1,0,0PRODUCTVERSION 1,1,0,0FILEOS 0x4FILETYPE 0x1{BLOCK "StringFileInfo"{	BLOCK "040c04b0"	{		VALUE "Comments", "Livebox d'Inventel seulement pour le moment... Visitez http://sbibuilder.shorturl.com/ pour les mises à jour éventuelles.\0"		VALUE "CompanyName", "Created by [big_fury]SiZiOUS\0"		VALUE "FileDescription", "Gestionnaire de connexion Livebox (Version Console)\0"		VALUE "FileVersion", "1.1.0.0\0"		VALUE "InternalName", "lboxmgr.exe\0"		VALUE "LegalCopyright", "© Copyleft 2002-2010\0"		VALUE "LegalTrademarks", "Orange et Livebox sont (sûrement) des marques déposées de France Télécom.\0"		VALUE "OriginalFilename", "lboxmgr.exe\0"		VALUE "ProductName", "Livebox Connection Manager\0"		VALUE "ProductVersion", "1.1.0.0\0"	}}BLOCK "VarFileInfo"{	VALUE "Translation", 0x040C 0x04B0}}