1 VERSIONINFOFILEVERSION 1,0,0,0PRODUCTVERSION 1,1,0,0FILEOS 0x4FILETYPE 0x1{BLOCK "StringFileInfo"{	BLOCK "040c04b0"	{		VALUE "Comments", "http://sbibuilder.shorturl.com/\0"		VALUE "CompanyName", "Created by [big_fury]SiZiOUS\0"		VALUE "FileDescription", "Connection Checker\0"		VALUE "FileVersion", "1.0.0.0\0"		VALUE "InternalName", "checkcon.exe\0"		VALUE "LegalCopyright", "© Copyleft 2002-2010\0"		VALUE "OriginalFilename", "checkcon.exe\0"		VALUE "ProductName", "Livebox Connection Manager\0"		VALUE "ProductVersion", "1.1.0.0\0"	}}BLOCK "VarFileInfo"{	VALUE "Translation", 0x040C 0x04B0}}